{% extends "base.html" %}

{% block navbar %}{% include "navbar.html" %}{% endblock %}


{% block content %}
<div class="container mt-3">
   <h3>Типа привет</h3>
   <h4>Домашка SF_E9</h4>
   <p>Задание:</p>
   <p>
      Сервис должен поддерживать работу нескольких пользователей. Пользователи должны создавать событие, которое
      доступно остальным пользователям.
   </p>
   <p>
      У каждого события есть следующие параметры: автор, время начала, время конца, тема и описание.
   </p>
   <p>
      Каждый пользователь может просматривать все события, которые созданы любыми пользователями.
   </p>
   <p>
      Каждый пользователь может редактировать, удалять и создавать события, где пользователем является он.
   </p>
   <p>
      Должна быть реализована страница, на которой есть общий вид всех событий.
   </p>
</div>

{% endblock %}

{% block footer %}{% endblock %}

{% block modal %}{% endblock %}