{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <a class="navbar-brand" href="/">Eventboard</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="eventDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    События
                </a>


                <div class="dropdown-menu" aria-labelledby="eventDropdown">
                    {% if current_user.is_authenticated %}
                    <a class="dropdown-item" href="/events">Все события</a>
                    <a class="dropdown-item" href="/events/my">Мои события</a>
                    <a class="dropdown-item" href="/events/create">Создать событие</a>
                    {% else %}
                    <a class="dropdown-item" href="/login">Залогиньтесь</a>
                    {% endif %}
                </div>
            </li>



            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Пользователь
                </a>
                {% if current_user.is_authenticated %}
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item disabled" href="№">{{ current_user.username }}:{{ current_user.email }}</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/user">Редактировать пользователя</a>
                    <a class="dropdown-item" href="/logout">Выйти</a>
                </div>
                {% else %}
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/login">Login</a>
                    <a class="dropdown-item" href="/create_user">Create user</a>
                </div>
                {% endif %}
            </li>
        </ul>
        <!-- <form class="form-inline my-2 my-lg-0" method="GET" action="/posts/">
            <input name='slug' class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> -->
    </div>
</nav>
{% endblock %}