{% extends "base.html" %}

{% block navbar %}{% include "navbar.html" %}{% endblock %}


{% block content %}

{% if current_user.is_authenticated %}

<form method="POST" action="">
    <!-- <input type="hidden" name="_method" value="PUT" /> -->
    {{ form.csrf_token }}

    {% for field in form if field.name not in ['csrf_token', 'submit'] %}
    <div class="form-group">
        {{ field.label(class='control-label') }}
        {% if field.errors %}
        <span> (
            {% for error in field.errors %}
            <span>{{ error }}</span>
            {% endfor %})
        </span>
        {% endif %}
        {{ field(class='form-control') }}
    </div>
    {% endfor %}

    <!-- <input class="btn btn-info" type="submit" value="Go"> -->

    {{ form.submit(class="btn btn-info mt-3") }}

</form>

{% endif %}

{% endblock %}

{% block footer %}{% endblock %}

{% block modal %}{% endblock %}